.about {
    width: 100%;
    font-family: "Roboto", sans-serif;

    hr {
        width: 80%;
    }

    .about-introcude {
        height: 50vh;
    }

    .about-history {
        height: 50vh;
    }

    .about-event {
        height: 50vh;
    }
}