.alert {
    position: fixed;
    z-index: 3;
    width: 350px;
    border-radius: 5px;
    background-color: white;
    border: 1px solid rgb(190, 190, 190);
    right: 50%;
    transform: translate(50%, 20%);
    overflow: hidden;
    transition: 0.5s;

    .header {
        height: 50px;
        background-color: rgb(190, 190, 190);

        .title {
            float: left;

            img {
                float: left;
                height: 50px;
                margin-right: 5px;
            }
        }

        i {
            position: absolute;
            right: 10px;
            top: 10px;
            font-size: 20px;
            color: gray;
            cursor: pointer;
            transition: 0.5s;
        }

        i:hover {
            opacity: 0.5;
        }
    }

    .body {
        min-height: 100px;
        padding: 0 15px;
    }

    .footer {
        position: relative;
        height: 50px;
        border-top: 1px solid rgb(190, 190, 190);

        .button {
            position: absolute;
            top: 50%;
            right: 10px;
            transform: translate(0, -50%);

            a {
                padding: 5px 20px;
                margin: 5px;
                float: right;
                background-color: black;
                border: 2px solid black;
                border-radius: 5px;
                text-align: center;
                font-weight: 600;
                color: white;
                cursor: pointer;
                transition: 0.5s;
            }

            a:hover {
                background-color: white;
                border: 2px solid black;
                color: black;
            }
        }
    }
}

@media screen and (max-width: 350px) {
    .alert {
        width: 100%;
    }
}