.about-history {
    margin-top: 100px;

    h1 {
        text-align: center;
    }

    .about-history-contain {
        position: relative;
        width: 80%;
        margin: auto;
        margin-top: 50px;
        border-top: 2px solid gray;
        height: 250px;
        top: 100px;
        opacity: 0;
        transition: 0.5s;

        i {
            position: absolute;
            font-size: 25px;
            cursor: pointer;

            .history-title {
                position: absolute;
                font-family: "Roboto", sans-serif;
                font-size: 12px;
                font-weight: 600;
                top: 0px;
                transition: 0.5s;
                opacity: 0;
                width: 100px;
            }
        }

        i:hover {
            .history-title {
                top: -27px;
                opacity: 1;
            }

            .history-content {
                height: 150px;
                border-bottom: 2px solid black;
            }
        }

        .fa-person-walking {
            top: -27px;

            p {
                left: -10px;
            }

            .history-content {
                position: absolute;
                border-left: 2px dotted black;
                left: 5px;
                width: 150px;
                padding: 0 10px;
                transition: 0.5s;
                height: 0;
                overflow: hidden;

                p {
                    position: absolute;
                    bottom: 0;
                    font-family: "Roboto", sans-serif;
                    font-size: 15px;
                    font-weight: 500;
                    margin-left: 20px;
                }
            }
        }

        .fa-people-group {
            right: 50%;
            top: -27px;
            transform: translate(50%, 0);

            p {
                left: -25px;
            }

            .history-content {
                position: absolute;
                left: -155px;
                border-right: 2px dotted black;
                width: 150px;
                padding: 0 10px;
                transition: 0.5s;
                height: 0;
                overflow: hidden;

                p {
                    position: absolute;
                    bottom: 0;
                    font-family: "Roboto", sans-serif;
                    font-size: 15px;
                    font-weight: 500;
                    margin-left: 30px;
                }
            }

            @media screen and (max-width: 392px) {
                .history-content {
                    left: -105px;
                    width: 100px;
                }
            }
        }

        .fa-building {
            right: 0;
            top: -27px;

            p {
                left: -25px;
            }

            .history-content {
                position: absolute;
                left: -161px;
                border-right: 2px dotted black;
                width: 150px;
                padding: 0 10px;
                transition: 0.5s;
                height: 0;
                overflow: hidden;

                p {
                    position: absolute;
                    bottom: 0;
                    font-family: "Roboto", sans-serif;
                    font-size: 15px;
                    font-weight: 500;
                    margin-left: 30px;
                }
            }
        }

        .fa-circle-dot {
            font-size: 20px;
            top: -11px;

            .history-title {
                left: -2px;
            }
        }

        .one {
            left: 15%;

            .history-content {
                position: absolute;
                border-left: 2px dotted black;
                left: 10px;
                width: 150px;
                transition: 0.5s;
                height: 0;
                overflow: hidden;

                p {
                    position: absolute;
                    bottom: 0;
                    font-family: "Roboto", sans-serif;
                    font-size: 15px;
                    font-weight: 500;
                    margin-left: 10px;
                }
            }
        }

        .two {
            left: 30%;

            .history-content {
                position: absolute;
                border-left: 2px dotted black;
                left: 10px;
                width: 150px;
                transition: 0.5s;
                height: 0;
                overflow: hidden;

                p {
                    position: absolute;
                    bottom: 0;
                    font-family: "Roboto", sans-serif;
                    font-size: 15px;
                    font-weight: 500;
                    margin-left: 10px;
                }
            }
        }

        .three {
            right: 30%;

            .history-content {
                position: absolute;
                left: -161px;
                border-right: 2px dotted black;
                width: 150px;
                padding: 0 10px;
                transition: 0.5s;
                height: 0;
                overflow: hidden;

                p {
                    position: absolute;
                    bottom: 0;
                    right: 10px;
                    font-family: "Roboto", sans-serif;
                    font-size: 15px;
                    font-weight: 500;
                    margin-left: 30px;
                }
            }
        }

        .four {
            right: 15%;

            .history-content {
                position: absolute;
                left: -161px;
                border-right: 2px dotted black;
                width: 150px;
                padding: 0 10px;
                transition: 0.5s;
                height: 0;
                overflow: hidden;

                p {
                    position: absolute;
                    bottom: 0;
                    right: 10px;
                    font-family: "Roboto", sans-serif;
                    font-size: 15px;
                    font-weight: 500;
                    margin-left: 30px;
                }
            }
        }
    }

    .show {
        top: 0;
        opacity: 1;
    }
}