.onTop {
    position: fixed;
    background-color: rgb(240, 240, 240);
    bottom: -100%;
    right: 60px;
    font-size: 20px;
    padding: 8px 10px;
    cursor: pointer;
    transition: 0.2s;
    opacity: 0.5;
    z-index: 1;
}

.onTop:hover {
    padding: 9px 11px;
    background-color: rgb(200, 200, 200);
    color: white;
}